<div class="container" *ngIf="trip() as trip">
  <div class="header">
    <a routerLink="/" class="back-button">&larr; Back</a>
    <h1>
      <app-route-badge [routeId]="trip.trip?.routeId ?? ''"></app-route-badge>
      <span>{{ trip.trip?.routeId ?? '' | destination:direction() }}</span>
    </h1>
  </div>

  <div class="stops-list">
    <div class="stop-row header-row">
      <span class="stop-name">Station</span>
      <span class="arrival-time">Arrives</span>
    </div>
    <div *ngFor="let stop of futureStops()" class="stop-row">
      <span class="stop-name">
        {{ stop.stopId ?? '' | stopName }}
        <div class="transfers" *ngIf="getTransfersForStop(stop.stopId ?? '').length > 0">
          Transfers:
          <app-route-badge *ngFor="let routeId of getTransfersForStop(stop.stopId ?? '')" [routeId]="routeId"></app-route-badge>
        </div>
      </span>
      <span class="arrival-time">{{ stop.arrival?.time | arrivalTime }}</span>
    </div>
  </div>
</div>
