<div class="container">
  <div class="header">
    <h1>Departures</h1>
    <div class="clock">{{ time() | date:'shortTime' }}</div>
  </div>
  <div class="boards-container">
    <div class="board">
      <h2>Northbound</h2>
      <div *ngIf="arrivalsByDirection().northbound.length > 0; else loadingNorth">

        <div *ngFor="let arrival of arrivalsByDirection().northbound; trackBy: trackByTripId" class="arrival-row">
          <app-route-badge [routeId]="arrival.routeId ?? ''"></app-route-badge>
          <span class="destination">{{ arrival.destination }}</span>
          <span class="time">{{ arrival.arrival ? getMinutesUntilArrival(arrival.arrival) : 'N/A' }}</span>
        </div>
      </div>
      <ng-template #loadingNorth>
        <p>Loading...</p>
      </ng-template>
    </div>
    <div class="board">
      <h2>Southbound</h2>
      <div *ngIf="arrivalsByDirection().southbound.length > 0; else loadingSouth">
        <div *ngFor="let arrival of arrivalsByDirection().southbound; trackBy: trackByTripId" class="arrival-row">
          <app-route-badge [routeId]="arrival.routeId ?? ''"></app-route-badge>
          <span class="destination">{{ arrival.destination }}</span>
          <span class="time">{{ arrival.arrival ? getMinutesUntilArrival(arrival.arrival) : 'N/A' }}</span>
        </div>
      </div>
      <ng-template #loadingSouth>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>
</div>
